<div class="border rounded text-center bg-white">
  <div class="w-50 mx-auto p-2 mt-3">
    <img class="img img-fluid rounded-circle" src="assets/anonymous.png">
  </div>
  <div>
    <h2><span class="">Godwin </span>Agedah</h2>
    <p>Fullstack Developer</p>
  </div>
  <div>
      <a href="https://github.com/GodwinAgedah" target="_blank"><i class="fa fa-twitter fa-2x m-2"></i></a>
      <a href="https://www.linkedin.com/in/godwin-agedah/" target="_blank"><i class="fa fa-linkedin fa-2x m-2"></i></a>
  </div>
  <div class="text-left mt-4 bg-light p-2">
    <p><i class="fa fa-map-marker fa-2x fa-fw m-2"></i>PH, Nigeria</p>
    <p><a href="https://github.com/Godwin9911"  class="text-dark" target="_blank"><i class="fa fa-github fa-2x fa-fw m-2"></i> Github</a></p>
  </div>
  <a class="btn btn-primary m-2" href="mailto:agedah99@gmail.com">Email Me</a>
</div>
